.textarea {
    flex: 1;
    resize: none;
    background-color: rgb(240, 240, 240);
    color: rgb(25, 15, 15);
    font-size: 15px;
    padding: 8px;
}

.textarea:focus {
    outline-style: none;
}
