---
import "@src/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/favicon.png"
		/>
		<link
			rel="canonical"
			href="https://md2pdf.org"
		/>
		<title>Markdown to PDF converter</title>
		<meta
			name="description"
			content="Easily convert your Markdown to PDF online for FREE. Private and open source."
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
